.btn-view-hotel {
  background-color: #0f3f7f;
  border-color: #00163c;
  width: 100%;
  padding: 2px 0px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 2px 0px #00163c; }

.btn-action {
  background-color: #0f3f7f;
  border-color: #00163c;
  width: 100%;
  padding: 2px 0px;
  font-size: 18px; }

.btn-collapse {
  float: right;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #157ab1 transparent transparent transparent; }
