// Color Library
$blue: #0f3f7f;
$blue2: #154482;
$blue3: #002c77;
$blue4: #00163c;
$lightblue: #157ab1;

$orange: #df6800;
$yellow: #fdba12;

$gray: #444444;
$gray2: #f4f4f4;
$gray3: #828282;
$gray4: #ececec;
$white: #ffffff;
