@import 'colors.scss';

// Main Components
body {
  background-color: $gray2;
}
// Header Collection
.headerMain {
  background-color: $blue;
  margin-bottom: 20px;
}

// Structural Modules
.module-application {
  box-shadow: 4px -1px 11px $gray4;
  background-color: $white;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  padding: 5px 0px;
}

.category-type {
  list-style-type: none;
  padding-left: 0;
  float: left;
  width: 100%;
  margin-bottom: 0;

  li {
    float: left;
    width: 20px;

    .icon-star {
      float: left;
      width: 20px;
      height: 40px;

      use {
        fill: $yellow;
      }
    }
  }
}

.separatorSec {
  border-bottom: 5px solid $gray2;
  padding: 0 10px;
}
.padding-h {
  padding: 0 10px;
}

.amenities-list {
  list-style-type: none;
  padding-left: 0;
  float: left;
  width: 100%;

  li {
    float: left;
    height: 30px;
    margin-right: 15px;

    img {
      width: 25px;
      height: 100%;
    }
  }
}

.hotel-card {
  padding: 10px 0px;

  .price-container {
    border-left: 1px dotted $gray3;

  }

  .call-to-action-sec {
    padding: 25px 15px;
  }
}

.filter-module {
  float: left;
  width: 100%;
  padding: 10px 10px;

  .filter-headline {

    .icon-star {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-top: 3px;

      use {
        fill: $lightblue;
      }
    }
    .icon-search {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 5px;

      path {
        fill: $lightblue;
      }
    }
  }

  .star-container {
    list-style-type: none;
    margin-top: 10px;
    padding: 0px 15px;
    float: left;
    width: 100%;

    .star-item {
      float: left;
      margin-bottom: 10px;
      width: 100%;

      input {
        margin-right: 5px;
      }

      .icon-star {
        width: 115px;
        height: 18px;

        use {
          fill: $yellow;
        }
      }

    }
  }
}

.filter-form {
  padding: 10px 0px;

  input {
    padding: 2px 10px;
    width: 100%;
  }
}

.title-module {
  margin-bottom: 10px;
}
